<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <table cellpadding="1" cellspacing="1" bgcolor="1" style="background-color: antiquewhite;">
        <tr>
            <td> product id:</td>
            <td>{* productId *}</td>
        </tr>


        <tr>
            <td> product name:</td>
            <td>{* productName *}</td>
        </tr>

        <tr>
            <td> product picture list:</td>
            <td>{* productPictureList *}</td>
        </tr>

        <tr>
            <td> product specification:</td>
            <td>{* productSpecification *}</td>
        </tr>

        <tr>
            <td> product service:</td>
            <td>{* productService *}</td>
        </tr>

        <tr>
            <td> product color:</td>
            <td>{* productColor *}</td>
        </tr>

        <tr>
            <td> shop id:</td>
            <td>{* shopId *}</td>
        </tr>

        <tr>
            <td> shop name:</td>
            <td>{* shopName *}</td>
        </tr>

        <tr>
            <td> shop level:</td>
            <td>{* shopLevel *}</td>
        </tr>

        <tr>
            <td> shop good cooment rate:</td>
            <td>{* shopGoodCommentRate *}</td>
        </tr>
    </table>

</div>


</body>
</html>